*~
*.log
*logs*
.DS_Store
hgrc
vim/bundle/*
vim/.netrwhist
vim/.VimballRecord
ssh/known_hosts
ssh/config
ssh/authorized_keys
ssh/authorized_keys2
ssh/environment-*
ssh/id_*
config/gtk-2.0
gist-vim
config/configstore/
config/.mono/
config/count-to-6/
config/workshopper/
ghc/ghci_history
config/menus/
config/mimeapps.list
config/gtk-3.0/bookmarks
config/oxygen-gtk/
config/xfce4/
emacs.d/elpa
emacs.d/places
config/chromium/
config/pulse/
emacs.d/ido.last
emacs.d/projectile-bookmarks.eld
emacs.d/.chicken-scheme-symbols-dump.el
config/Skype/Skype.conf
config/dconf/
config/gconf
config/vlc/
vim/plugged/
weechat/script/plugins.xml.gz
config/Trolltech.conf
config/VCG/
config/enchant/
config/libreofficedev/
config/transmission/dht.dat
config/transmission/stats.json
config/google-chrome/
config/Slack/
config/spotify/
config/inkscape/
config/unity3d/
config/nvim/plugged
config/nvim/backup/
config/nvim/undodir/
.netrwhist
config/.exercism.json
config/corebird/
config/QtProject.conf
config/yarn/
local.env
nix-defexpr/channels
nix-defexpr/channels_root
config/gcloud
ssh/google_compute_engine
ssh/google_compute_engine.pub
config/VirtualBox/
config/exercism.json
config/mps-youtube/
config/asciinema/
xmonad/prompt-history
xmonad/xmonad-x86_64-linux
*.o
*.hi
*.errors
*.state
config/font-manager/
config/libreoffice/
config/pavucontrol-qt/
config/wireshark/
config/google-chrome
config/google-chrome-stable
config/google-chrome-stable-wrk
config/fontconfig/conf.d
config/fontconfig/fonts.conf
config/pcmanfm
config/qalculate
config/transmission
