[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/csivanich/dotbot.git
[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/NixOS/nixpkgs.git
