*~
*.log
*logs*
.DS_Store
hgrc
vim/bundle/*
vim/.netrwhist
vim/.VimballRecord
ssh/known_hosts
ssh/authorized_keys
ssh/authorized_keys2
ssh/environment-*
ssh/id_rsa
ssh/id_rsa.pub
config/gtk-2.0
gist-vim
config/configstore/
config/.mono/
config/count-to-6/
config/workshopper/
config/NuGet/NuGet.Config
ghc/ghci_history
