*~
*.log
*logs*
.DS_Store
hgrc
vim/bundle/*
vim/.netrwhist
vim/.VimballRecord
ssh/known_hosts
ssh/authorized_keys
ssh/authorized_keys2
ssh/environment-*
ssh/id_rsa
ssh/id_rsa.pub
config/gtk-2.0
config/Trolltech.conf
config/pulse
stumpwm/storage
gist-vim
config/configstore/
config/.mono/
config/count-to-6/
config/workshopper/
config/NuGet/NuGet.Config
ghc/ghci_history
config/chromium
nixpkgs
config/termite/config
xmonad/xmonad.o
xmonad/lib/*.o
xmonad/xmonad-x86_64-linux
nixos
config/menus/
config/mimeapps.list
config/gtk-3.0/bookmarks
config/oxygen-gtk/
config/xfce4/
elpa
places
