snippet [ "markdown link"
[${1:title}](${2:link})$0
endsnippet

snippet image "markdown image"
[]() $0
![${1:alt text}](${2:image url} "${3:optional title}")$0
endsnippet

snippet tick "inline tick"
\`$1\`$0
endsnippet

snippet ticks "backtick codeblock" b
\`\`\` ${1:language} ${2:title} ${3:url} ${4:link_title}
$5
\`\`\`

$0
endsnippet

# vim:ft=snippets:
